<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Order List</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="styles.css">

  </head>
  <body>
    <img src="./images/joseph-farms-cheese-header.jpg" alt="Joseph Gallo Farms Image">
    <h1 id='title'>Cheese Orders</h1>

    <div ng-app="myApp" ng-controller="dateCtrl">
      <div id="orderListForm">
      <form name="searchDate">
        <lable><strong>Cheese Sale Date</strong><span class="required">*</span></label>
          <input type="date" name="date" ng-model="data.date">
      <button ng-click="send()"><strong>Search</strong></button>
      </form>
      </div>
      <br />
      <br />
      <b>Filter:</b><input ng-model="query" type="text"/>
      <a id="navigateLink" href="/picklist.html">Go to Pick List</a>
      <table id="sortTable">
        <tr>
          <th><a id="heading" href="" ng-click="sortField = 'userid'; reverse = !reverse">Box #</th>
          <th><a id="heading" href="" ng-click="sortField = 'empnum'; reverse = !reverse">Employee Number</th>
          <th><a id="heading" href="" ng-click="sortField = 'fname'; reverse = !reverse">First Name</th>
          <th><a id="heading" href="" ng-click="sortField = 'lname'; reverse = !reverse">Last Name</th>
          <th><a id="heading" href="" ng-click="sortField = 'saledate'; reverse = !reverse">Sale Date</th>
          <th><a id="heading" href="" ng-click="sortField = 'variety'; reverse = !reverse">Variety</th>
          <th><a id="heading" href="" ng-click="sortField = 'style'; reverse = !reverse">Style</th>
          <th><a id="heading" href="" ng-click="sortField = 'size'; reverse = !reverse">Size</th>
          <th><a id="heading" href="" ng-click="sortField = 'qty'; reverse = !reverse">Qty</th>
          <th><a id="heading" href="" ng-click="sortField = 'orderdate'; reverse = !reverse">Order Date</th>
        </tr>
        <tr id="sortData" ng-repeat="order in orders | filter:query | orderBy:sortField:!reverse">
          <td>{{order.userid}}</td>
          <td>{{order.empnum}}</td>
          <td>{{order.fname}}</td>
          <td>{{order.lname}}</td>
          <td>{{order.saledate}}</td>
          <td>{{order.variety}}</td>
          <td>{{order.style}}</td>
          <td>{{order.size}}</td>
          <td>{{order.qty}}</td>
          <td>{{order.orderdate}}</td>
        </tr>
      </table>
    </div>

    <div ng-app="myApp" ng-controller="myCtrl">
      <!-- {{dates}} -->
    </div>

    <script>
    var app = angular.module('myApp', []);
    app.controller('dateCtrl', function($scope, $http) {
      $scope.date = ' ';

      $scope.send = function () {
          console.log("inside send function");
          console.log($scope.data.date);

          var posting = $http({
              method: 'POST',
              /*posting to /post */
              url: '/orders',
              data: {'date' : $scope.data.date }
          }).then(function(response) {
            $scope.orders = response.data;
            console.log($scope.orders);
            $scope.sortField = 'userid';
            $scope.reverse = true;
            //console.log(response.data, "Response from post request!")
          })
        }
    });
     </script>
  </body>
</html>
